Repository shashi278/AC_Management, pull requests merged in 2019-12, with the labels that each got.

#23 Dropdown issue fixed, Light mode problem resolved manually, Unwanted print removed, Pdf open in default app Added,mail.py removed and otp content added in screen.py
  pyinstaller.spec
  src/filebrowser.py
  src/generate_fee_receipt.py
  src/gui.kv
  src/hoverable.py
  src/mail.py
  src/main.py
  src/media/images/app_icon.ico
  src/screens.py
Labels: enhancement

#24 Update pyinstaller.spec
  pyinstaller.spec
Labels: exe-specification

#30 Update admin_record.sql
  src/admin_record.sql
Labels: sql

#33 Number of max multiple data fixed to 6
  src/gui.kv
Labels: kivy
